.blue {
    background-color: #4285f3;
}

.green {
    background-color: #55a854;
}

.yellow {
    background-color: #f5aa22;
}

.red {
    background-color: #e94234;
}

.dark {
    background-color: #222222;
}