main {
    background-color: white;
}

.container {
    padding: 15px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;

    margin-bottom: 5px;
}

/* MESSAGE IN RED*/
#message {
    padding: 15px; color: white; font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 20px;

    justify-items: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;

    /*background: red;*/
}

/* each color box */
.grid > div {
    font-size: 20px;
    padding: 20px;

    font-weight: 600;
    letter-spacing: 1.1px;
    
    border-radius: 7px;
    color: white;
}
.grid > div:hover {
    opacity: 0.9;
}
.grid > div:focus, .grid > div:active {
    opacity: 0.8;
}



@media only screen and (max-width: 1400px) {
    .grid {
        grid-template-columns: repeat(5, 1fr)
    }
}   


@media only screen and (max-width: 885px) {
    .grid {
        grid-template-columns: repeat(3, 1fr)
    }
}   

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr)
    }
    .grid > div {
        font-size: 16px;
        padding: 12px;
    }
}   