.menu {
    /* disabled by default */
    display: none;

    background-color: white;
    padding: 5px 0;

    border: 1px solid lightgrey;
    border-radius: 5px;

    font-size: 15px; 
    letter-spacing: 1px;

    position: absolute;
    top: 50px;
    right: 10px;
    min-width: 100px;
}
.menu > div {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.menu > div:hover {
    background-color: #0366d6;
    color: white;
}