nav {
    padding: 15px;
    width: 100%;
    background-color: var(--navbar-color);
    color: white;
}
nav > div > div {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
}


.row-1 {
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
}
.row-1 .logo {

}
.row-1 .right {
    justify-self: end;
    font-weight: 400
}


/* row-2 */
#character_row {
    margin-top: 10px;

    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    justify-items: center;
}
#character_row > div {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;

    color: white;
    text-decoration: none;
}
    #character_row > div:hover {
        text-decoration: underline;
    }


@media only screen and (max-width: 500px) {
    nav > div {
        font-size: 20px;
    }

    #character_row {
        display: none;
    }

}   