* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*font-family: 'Roboto', sans-serif;*/
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 0.9px;

    -webkit-overflow-scrolling: touch;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

:root {
    --navbar-color: #10213c;
}

body {
    background-color: var(--navbar-color);
}